// ==========================================================================
// Breakpoints
// ==========================================================================

$breakpoints: (
   ss   :360px,
   s    :414px,
   sm   : 540px,
   md   : 720px,
   lg   : 960px,
   xl   : 1140px,
   xxl  : 1440px,
   xxxl : 1920px,
);