// ==========================================================================
// COLORS : Eje.: background: color( primary, light );
// ==========================================================================

$colors: (
   primary: (
      base     : #FFCA33,
      dark     : #FFC627
   ),
   secondary: (
      base     : #0D2240,
      light    : #0074FC,
      dark     : rgb(83, 46, 0)
   ),
   complementary: (
      one      : #001B3D,
      two      : #0059A3,
      three    : #C59158,
      four     : #004EFF,
      five     : #FF0000,
      six      : #FF6C00
   ),
   grayscale: (
      white    : #ffffff,
      gray-1   : #f2f2f2, 
      gray-2   : #eeeeee,
      gray-3   : #cccccc,
      gray-4   : #999999,
      gray-5   : #666666,
      gray-6   : #333333,
      gray-7   : #4A4A4A,
      base     : #1b1b1b,
      black    : #000000
   )
);
