// ==========================================================================
// FontStack
// ==========================================================================

$font-size : 1.6rem;
$font-primary      : 'Roboto', sans-serif;
$font-secondary    :  'Inter', sans-serif;

// ==========================================================================
// Importación de tipografia url
// ==========================================================================



// ==========================================================================
// Importación de tipografia
// ==========================================================================

// @font-face {
//     font-family: 'Josefin Sans';
//     *
//     *
//     *
//     font-display: swap;
// }