// ==========================================================================
// FontStack
// ==========================================================================

$font-size         : 1.6rem;
$font-primary      : 'Josefin Sans', sans-serif;
$font-icon         : 'iconFont'; 

// ==========================================================================
// Importación de tipografia url
// ==========================================================================



// ==========================================================================
// Importación de tipografia
// ==========================================================================

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/Josefin/JosefinSans-Medium.woff2') format('woff2'),
        url('../fonts/Josefin/JosefinSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/Josefin/JosefinSans-Bold.woff2') format('woff2'),
        url('../fonts/Josefin/JosefinSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/Josefin/JosefinSans-Regular.woff2') format('woff2'),
        url('../fonts/Josefin/JosefinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/Josefin/JosefinSans-SemiBold.woff2') format('woff2'),
        url('../fonts/Josefin/JosefinSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Josefin Sans';
//     *
//     *
//     *
//     font-display: swap;
// }