.container {
    width: 100%;
    padding: {
       left: 1.5rem;
       right: 1.5rem;
    };
    margin: {
       left: auto;
       right: auto;
    };
    @include mq-min(md) {
       max-width: map-get($breakpoints, "lg") - 100px ;
    }
    @include mq-min(lg) {
       max-width: 1240px;
    }
    @include mq-min(xxl) {
       max-width: 1305px;
    }
 }