.container {
   width: 100%;
   padding: {
      left: 1rem;
      right: 1rem;
   };
   margin: {
      left: auto;
      right: auto;
   };
   @include mq-min(md) {
      max-width: map-get($breakpoints, "lg") - 100px ;
   }
   @include mq-min(lg) {
      max-width: 1140px;
   }
}
.grid{
   @include grid(1rem, display);
   grid-template-columns: repeat(1, 1fr);
   &.grid-item{
      height: 25rem;
      width: 25rem;
   }
   @include mq-min(md){
      @include grid (1.5rem, display);   
      grid-template-columns: repeat(2, 1fr); 
      height: 25rem;
      width: 25rem;
   }
   @include mq-min(xl){
      @include grid(2rem, display);
      grid-template-columns: repeat(3, 1fr);
      width: 25rem;
      height: 25rem;
   }
}



