.ml-nav-list {
    display:flex;
    font-size: map-get($sizes, "thumb");
    font-weight: map-get($weights, "semi_bold"); 
    list-style: none;   
}
// menu de navegacion vertical (pantalla pequeña)
.ml-nav-list-column {
    @extend .ml-nav-list;
    @include nav(column);
}

@include mq-min(lg){
    // menu de navegacion horizontal (pantalla grande)
    .ml-nav-list-row {
        @include nav(row);
    }
}