//propiedades básicas de botón
.at-btn {
    border: none;
    border-radius: 0.3rem;
    cursor:pointer;
    font-family: $font-primary;
    font-size: $font-size;
    margin: 0.5rem 0;
    padding: 0.6rem 1.2rem;
    text-align: center;
    @include button( color(grayscale, gray-3), color(grayscale, black)  );
    
    // sombra
    &.shadow {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
    }
}

// botón pequeño
.at-btn-sm {
    @extend .at-btn;
    font-size: map-get($sizes, "small");
    padding: 0.5rem 0.8rem;
}
// botón grande
.at-btn-lg {
    @extend .at-btn;
    font-size: map-get($sizes, "thumb");
    padding: 0.8rem 1.6rem;
}

// botón redondeado
.at-btn-round {
    @extend .at-btn;
    border-radius: 5rem;
}

// botón con color sólido primario
.at-btn-primary {
    @extend .at-btn;
    @include button( color(primary, base) );
}
// botón con color solido secundario
.at-btn-secondary {
    @extend .at-btn;
    @include button( color(secondary, base) );
}
// botón con color solido (personalizado)
// .at-btn {
//     @extend .at-btn;
//     @include button( color(<colección>, <color>) );
// }

// botón con borde normal
.at-btn-outline {
    @extend .at-btn;
    @include button( transparent, color(grayscale, black), color(grayscale, gray-3 ) );
    border: 0.1rem solid color(grayscale, gray-3 );
}
// botón con borde primario
.at-btn-outline-primary {
    @extend .at-btn;
    @include button( transparent, color(primary, base), color(primary, base) );
    border: 0.1rem solid color(primary, base);
}
// botón con borde secundario
.at-btn-outline-secondary {
    @extend .at-btn;
    @include button( transparent, color(secondary, base), color(secondary, base) );
    border: 0.1rem solid color(secondary, base);
}

