h1{
    font-family: $font-primary;
    font-size: map-get($sizes, medium);
}
h2{
    font-family: $font-primary; 
    font-size: map-get($sizes, half);
}
h3{
    font-family: $font-primary;
    font-size: map-get($sizes, thumb);
}
h4{
    font-family: $font-primary;
    font-size: map-get($sizes, base);
}
h5{
    font-family: $font-primary;
    font-size: map-get($sizes, small);
}
h6{
    font-family: $font-primary;
    font-size: map-get($sizes, tiny);
}