h1{
    color: color(primary,base);
    font-family: $font-primary;
    font-size: map-get($sizes, medium);
}
h2{
    color: color(primary,dark);
    font-family: $font-primary; 
    font-size: 2.8rem;
}
h3{
    color: color(secondary,base);
    font-family: $font-primary;
    font-size: 2.2rem;
}
h4{
    color: color(secondary,light);
    font-family: $font-primary;
    font-size: 1.8rem;
}
h5{
    color: color(secondary,dark);
    font-family: $font-primary;
    font-size: 1.6rem;
}
h6{
    color: color(complementary,one);
    font-family: $font-primary;
    font-size: map-get($sizes, small);
} 

@include mq-min(md){
    h1{
        color: color(primary,base);
        font-family: $font-primary;
        font-size: map-get($sizes, medium);
    }
    h2{
        color: color(primary,dark);
        font-family: $font-primary; 
        font-size: 3rem;
    }
    h3{
        color: color(secondary,base);
        font-family: $font-primary;
        font-size: 2.6rem;
    }
    h4{
        color: color(secondary,light);
        font-family: $font-primary;
        font-size: 2.2rem;
    }
    h5{
        color: color(secondary,dark);
        font-family: $font-primary;
        font-size: map-get($sizes, thumb);
    }
    h6{
        color: color(complementary,one);
        font-family: $font-primary;
        font-size: 1.8rem;
    } 
}

@include mq-min(xl){
    h1{
        color: color(primary,base);
        font-family: $font-primary;
        font-size: map-get($sizes , large )
    }
    h2{
        color: color(primary,dark);
        font-family: $font-primary; 
        font-size: 4rem;
    }
    h3{
        color: color(secondary,base);
        font-family: $font-primary;
        font-size: map-get($sizes , medium )
    }
    h4{
        color: color(secondary,light);
        font-family: $font-primary;
        font-size: 3.4rem;
    }
    h5{
        color: color(secondary,dark);
        font-family: $font-primary;
        font-size: 3rem;
    }
    h6{
        color: color(complementary,one);
        font-family: $font-primary;
        font-size: 2.6rem;
    } 
}