h1{
    color: color(primary,base);
    font-family: $font-primary;
    font-size: map-get($sizes, medium);
}
h2{
    color: color(primary,dark);
    font-family: $font-primary; 
    font-size: map-get($sizes, half);
}
h3{
    color: color(primary,dark);
    font-family: $font-primary;
    font-size: map-get($sizes, thumb);
}
h4{
    color: color(primary,dark);
    font-family: $font-primary;
    font-size: map-get($sizes, base);
}
h5{
    color: color(primary,dark);
    font-family: $font-primary;
    font-size: map-get($sizes, small);
}
h6{
    color: color(primary,dark);
    font-family: $font-primary;
    font-size: map-get($sizes, tiny);
}