.icon-twitter:before {
  content: "\e901";
}
.icon-bars:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-apple:before {
  content: "\e904";
}
.icon-spotify:before {
  content: "\e905";
}
.icon-youtube:before {
  content: "\e906";
}
.icon-chevron-right:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}