input,select,textarea{
    border-radius: 5px;
    border: solid .2px color(grayscale,gray-3);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
    color: color( secondary, base );   
    cursor:pointer;
    font-family: $font-primary;
    margin:0.5rem;
    padding: .5rem;
    outline-color:color(primary,base);
    &.input-bottomless {
        background-color: transparent;
        border-color: transparent;
        border-bottom: color(secondary,base) solid 2px;
        border-radius:0;
        box-shadow: none;
    }
    &.primary{
      border: solid .2px color(primary,base);
      outline-color:color(secondary,base);
    }
    &.secondary{
      border: solid .2px color(secondary,base);
      outline-color: color(primary,base);
    }
    &.outlinenone {
      outline: none;
      background-color:color(grayscale,gray-2);
      border: 0;
    }
    // sizes
      &.small{
        padding:    ( $font-size - 1rem ) ( $font-size );
       font-size:  ( $font-size - .50rem );
      }
      &.medium{
        padding:    ( $font-size - .90rem ) ( $font-size );
        font-size:  ( $font-size - .35rem );
      }
      &.big{
        font-size: map-get($sizes, small);
        padding: 10px 20px;
      }
}
// ==========================================================================
// Estilo de Radio Button
// ==========================================================================
input[type="radio"]{ 
  appearance: none;
  border-radius: 50%;
  box-shadow: none;
  background-color:white;
  border: solid 1px color(primary,base);
  width: 15px;
  height: 15px;
  vertical-align:bottom;
  &:checked{
    width: 10px;
    height: 10px;
    background-color:color(primary,base); 
    border: white 3px double ;
  }
}
// ==========================================================================
// Estilo de checkBox
// ==========================================================================
input[type="checkbox"]{
  appearance: none;
  width: 17px;
    height: 17px;
  background-color: transparent;
  border-radius: 2px;
  border: solid 1px color(primary,base);
  vertical-align:bottom;
  &:checked{
    background-color:color(primary,base); 
  &:before{
     content: "✔";
     color: color(grayscale,white);
     font-size: 14.5px;
     font-weight: 700;
     position: relative;
     top: -8px;
     left: -3px;
   }
  }
}
// ==========================================================================
// Input type submit
// ==========================================================================
input[type="submit"]{
  border: none;
    border-radius: 0.3rem;
    font-family: $font-primary;
    font-size: $font-size;
    margin: 0.5rem 0;
    padding: 0.6rem 1.2rem;
    text-align: center;
}
//Segundo estilo de Radio Button
.group {
  .radio-secondary{
    &:before{
    border: 2px solid color(secondary,light);
    }
  } 
  .radio-primary{
    &:before{
      border: 2px solid color(primary,base);
      }
  }
  .radio-secondary, .radio-primary{
    display: inline-block;
    color: color(secondary,base);
    cursor: pointer;
    position: relative;
    padding: 5px 15px 5px 30px;
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    user-select: none;
    &:hover {
      background-color: rgb(206, 205, 205);
    }
    &:before {        
      border-radius: 50%;
      background: none;
      content: "";
      display: inline-block;
      width: 17px;
      height: 17px;
      position: absolute;
      top: 23%;
      left: 5px;
    }
    &:hover::before{
      background-color: white;
    }
  }
  input[type="radio"]{ 
    display: none;
    &:checked + label:before { 
      display: none;
    }
    &:checked + .radio-primary{
      background-color: color(primary,base);
      border-radius: 2px;
      color: #fff;
      margin: 5px;
      padding: 5px 15px;
    }
    &:checked + .radio-secondary{
      background-color: color(secondary,light); 
      border-radius: 2px;
      color: #fff;
      margin: 5px;
      padding: 5px 15px;
    }
  }
}
//Segundo Estilo de check 
.group-check {
  .check-secondary{
    &:before{
    border: 2px solid color(secondary,light);
    }
  } 
  .check-primary{
    &:before{
      border: 2px solid color(primary,base);
      }
  }
  .check-secondary, .check-primary{
    display: inline-block;
    color: color(secondary,base);
    cursor: pointer;
    position: relative;
    padding: 5px 15px 5px 30px;
    border-radius: 5px;
    user-select: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    &:hover {
      background-color: rgb(206, 205, 205);
    }
    &:before {
      content: "";
      display: inline-block;
      width: 17px;
      height: 17px;
      position: absolute;
      top: 23%;
      left: 5px;
      background: none;
    }
    &:hover::before{
      background-color: white;
    }
  }
  label:before{border-radius: 3px} 
    
  input[type="checkbox"]{
    display: none;
    &:checked + label:before {
      display: none;
    }
    &:checked + .check-primary{
      background-color: color(primary,base);
      color: #fff;
      margin: 5px;
      padding: 5px 15px;
    }
    &:checked + .check-secondary{
      background-color:color(secondary,light);
      color: #fff;
      margin: 5px;
      padding: 5px 15px;
    }
  }
}
