.at-link{
    @include link (color(primary,700))
}
.at-link__secondary{
    @include link (color(secondary,400));
    &:hover{
        color:color(complementary,300);
    }
}
  
// Link subrayado
.at-link__underline{
    @include link (color(primary,700));
    font-weight: map-get($weights, "semi_bold");
    text-decoration: underline;
        &:hover{
            text-decoration: none;      
            color:color(complementary,800);
        }
}
.at-link-underline__secondary{
    @include link (color(secondary,800));
    font-weight: map-get($weights, "semi_bold");
    text-decoration: underline;
        &:hover {
            text-decoration: none;
            color:color(complementary,200);
        }
}