a{
    color: color(grayscale, gray-5);
    outline: 0;
    text-decoration: none;
    transition: color .1s ease-out;

    // Link subrayado
    &.underline-link{
        font-weight: map-get($weights, "semi_bold");
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
    
}