//https://unicode-table.com/es/
//
//El link contiene los codigos unicode para distintos simbolos de viñeta

ul{
    color:color(secondary,base);
    font-family: $font-primary;
    font-size: map-get($sizes , "base" );
    list-style: disc;
    li{
        padding-bottom: 1rem;
    }
    &.bullets{
        list-style: none;
        margin-left: 1rem;
        padding: 0;
        li:before{
            color: color(complementary, five);
            content: "\2665";
            padding-right: 8px;
            
        }
    }
    &.square{
        list-style: square;
    }
    &.circles{
        list-style: circle;
    }
    &.inside{
        list-style: inside;
    }
    &.image{
        list-style-image: url(../../images/bullet.png);
    }
}
ol{ 
    color: color(secondary,base);
    font-family: $font-primary;
    font-size: map-get($sizes , "base" );
    list-style:decimal;
    li{
        padding-bottom: 1rem;
    }
    &.low-rom{
        list-style: lower-roman;
    }
    &.up-rom{
        list-style: upper-roman;
    }
    &.low-greek{
        list-style: lower-greek;
    }
}