// ==========================================================================
// VIÑETAS DE COLOR 
// ==========================================================================
//ul {
//    list-style: none; /* Quitamos los marcadores */
//    padding: 0;
//    margin-left: 10px; /* Separamos la lista de la izquierda */
//    }

//  li::before { /* Añadimos contenido antes de cada elemento de la lista */
//    content: "\2022"; /* Insertamos el marcador */
//    padding-right: 8px; /* Establecemos el espacio entre las viñetas y el list item */
//    color: red; /* Coloreamos la viñeta */  
//    }



ul{
    font-family: $font-primary;
    font-size: map-get($sizes , "small" );
<<<<<<< HEAD
    color: color(primary,light);
    list-style: disc;
=======
    color: color(secondary,base);
>>>>>>> 64382e551c18908f67d6e60a057bc3f399fcced2
    &.square{
        list-style: square;
    }
    &.circles{
        list-style: circle;
    }
    &.inside{
        list-style: inside;
    }
    &.outside{
        list-style: outside;
    }
    &.image{
        list-style-image: url();
    }
}
ol{
    font-size: map-get($sizes , "small" );
    font-family: $font-primary;
<<<<<<< HEAD
    color: color(primary,light);
    list-style:decimal;
=======
    color: color(secondary,base);
>>>>>>> 64382e551c18908f67d6e60a057bc3f399fcced2
    &.low-rom{
        list-style: lower-roman;
    }
    &.up-rom{
        list-style: upper-roman;
    }
    &.low-greek{
        list-style: lower-greek;
    }
}