//https://unicode-table.com/es/
//
//El link contiene los codigos unicode para distintos simbolos de viñeta

ul{
    color:color(secondary,900);
    font-family: $font-primary;
    font-size: map-get($sizes,base);
    list-style: disc;
    li{
        padding-bottom: 1rem;
    }
    &.bullets{
        list-style: none;
        margin-left: 1rem;
        padding: 0;
        li:before{
            color: color(complementary, 300);
            content: "\2665";
            padding-right: 8px;
            
        }
    }
    &.check{
        list-style: none;
        margin-left: 1rem;
        padding: 0;
        li:before{
            color: color(primary,600);
            content: "\2714";
            padding-right: 8px;
            
        }
    }
    &.square{
        list-style: square;
    }
    &.circles{
        list-style: circle;
    }
    &.inside{
        list-style: inside;
    }
}
ol{ 
    color: color(secondary,900);
    font-family: $font-primary;
    font-size: map-get($sizes ,base );
    list-style:decimal;
    li{
        padding-bottom: 1rem;
    }
    &.low-rom{
        list-style: lower-roman;
    }
    &.up-rom{
        list-style: upper-roman;
    }
    &.low-greek{
        list-style: lower-greek;
    }
}